body.fr-home {
    position: relative;
    height: 100vh;
}

body.fr-p {
    position: relative;
}

body::after {
    content: "";
    background-image: url("../img/bg.jpg");
    background-repeat: repeat;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.header {
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
}

.body {
    margin-top: 25px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 165%;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.header-home-url {
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 120%;
}

.header-home-url:hover {
    color: black;
}

.pull-right {
    float: right;
}

.line {
    color: black;
    border-top: 1px solid black;
    margin-top: 5px;
    margin-bottom: 0px;
}

.bot-line {
    color: black;
    border-top: 1px solid black;
    margin-top: 35px;
    margin-bottom: 25px;
}

.bolded {
    font-weight: 700;
    color: black;
    text-decoration: underline;
}

.bolded:hover {
    color: black;
}

.footer {
    font-family: 'Lato', sans-serif;
    padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
    body {
        height: 150vh;
    }
}
.disclaimer {
    color: #747474;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
}

.nopadding {
    padding-left: 10px !important;
}

.profile-img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
}

.portfolio-item-title {
    margin-top: 0px;
    margin-bottom: 27px;
    font-size: 16px;
}

.portfolio-img {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin-bottom: 30px;
}

.portfolio-item-wrapper{
    margin-top: 20px;
    margin-bottom: 30px;
}

.ana-image {
    position: relative;
}

.dance-1 {
    position: absolute;
    top: 530px;
    left: 40px;
}

.dance-2 {
    position: absolute;
    top: 290px;
    left: 40px;
}