// Styling for the masthead
header.masthead {
  padding-top: 2rem;
  
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  h1 {
    font-size: 1rem;
    color: $primary;
    font-weight: 800; 
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 800;
    color: $primary;
    margin-bottom: 5rem;
  }
  p {
    font-weight: 300;
  }

  @media (min-width: 768px) {
    p {
      font-size: 18px;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 15rem;
    padding-bottom: 0;
    h1 {
      font-size: 60px;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 34px;
      font-weight: 600;
    }
  }
}
